*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: montserrat;

}
body{
    background: #164246;
    
}
.container{
    background: #90afba;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
    padding: 20px;
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;
}
.header{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove rgb(58, 120, 141);
    

}
.img-area img{
    width: 100%;
}
 .main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
    line-height: 2;
}

.left ul li{
    line-height: 2;

}   
h2{
    background-color: #299ca4;
    padding: 15px;
    color: #fff;
    margin: 30px 0;

    font-size: 20px;
    border-radius: 0 50px 50px 0;

}
.right{
    flex: 1;
    padding: 30px;
}
.fight{
    flex: 1;
}

